@page "/"
@using Biblioteca.BD.Data.Entidades
@using Biblioteca.Client.Services
@inject IHttpService http
@using MudBlazor
@inject IDialogService DialogService

<style>

</style>

<NavMenu></NavMenu>
<div class="centered-content " >
    <MudCard MaxWidth="2500px" class="mx-auto my-auto">
       
        <MudCardContent>
            <div style="display: flex;
    justify-content: center;">
                <MudText Typo="Typo.h3" class="centered-content"> <b>Prestamos</b></MudText>
            </div>
            
                <MudButton  Variant="Variant.Filled" Color="Color.Primary">
                    Agregar Prestamo
                </MudButton>

                <MudTable  Items="@prestamos" FixedHeader="@fixed_header" FixedFooter="@fixed_footer" Height="@(fixed_header || fixed_footer ? "600px" : "")" HorizontalScrollbar="false">
                    <HeaderContent>
                        <MudTh style="white-space: nowrap;">Prestatario</MudTh>
                        <MudTh style="white-space: nowrap;">Material</MudTh>
                        <MudTh style="white-space: nowrap;">Curso</MudTh>
                        <MudTh style="white-space: nowrap;">Fecha de entrega</MudTh>
                        <MudTh style="white-space: nowrap;">Hora de entrega</MudTh>
                        <MudTh>Fecha de devolucion</MudTh>
                        <MudTh>Hora de devolucion</MudTh>
                           <MudTh>Observacion</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Prestatario" class="ampliar-columna">@context.Prestatario.NombreApellido</MudTd>
                        <MudTd DataLabel="material" Style="font-size:13px">
                        <b>Codigo:</b>@context.Inventario.Codigo
                        <b>Tipo:</b> @context.Tipo.TipoMat<br />
                        <b>Material:</b> @context.Inventario.TituloNombre 
                        <b>Autor/Marca:</b> @context.Inventario.AutorMarca
                       
                        </MudTd>
                        <MudTd DataLabel="Curso" Style="font-size:13px">
                            <b>Año:</b>
                            @context.Curso.Año
                            <b>Division:</b>
                            @context.Curso.Division <br />
                           <b>Nivel:</b> @context.Curso.Nivel 
                            <b>Turno:</b> @context.Curso.Turno
                            
                        </MudTd>
                        
                        <MudTd DataLabel="Fecha de entrega">@context.FechaEntrega.ToString("d")</MudTd>
                        <MudTd DataLabel="Hora de entrega">@context.HoraEntrega.ToString(@"hh\:mm")</MudTd>                       
                        <MudTd DataLabel="Fecha de Devolución">@context.FechaDevolucion.ToString("d")</MudTd>
                        <MudTd DataLabel="Hora de Devolución">@context.HoraDevolucion.ToString(@"hh\:mm")</MudTd>
                        <MudTd DataLabel="Observacion">@context.Inventario.Observacion</MudTd>

                    </RowTemplate>
               </MudTable>
            
        </MudCardContent>
    </MudCard>
</div>

@code {
     List<Prestamo> prestamos;
     bool fixed_header = true;
     bool fixed_footer = true;

        protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        await Leer();
    }



    private async Task Leer()
    {
        var respuesta = await http.Get<List<Prestamo>>("api/PrestamoController");
        if (!respuesta.Error)
        {
            prestamos = respuesta.Respuesta;
        }
    }
}
