<MudLayout>
    <MudAppBar Elevation="1" Dense="@dense">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
       
         <h1 style="color:white"> <a href="/" style="color:white">Colegio Superior Roque Saenz Peña</a></h1>
    </MudAppBar>
    <MudDrawer @bind-Open="@open" ClipMode="DrawerClipMode.Docked" Breakpoint="@breakpoint" PreserveOpenState="@preserveOpenState" Elevation="1" Variant="@DrawerVariant.Mini">
        <MudNavMenu>
           <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.SignLanguage" Href="/">Prestamo</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.BusinessCenter" Href="/inventario-list">Inventario</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.ChecklistRtl" Href="/reserva-list">Reserva</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.ChecklistRtl" Href="/malestado-list">Mal estado</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
</MudLayout>

<style>
    .custom-nav-menu {
        color: white !important; 
    }
</style>
@code {
   bool open = false;
    bool dense = false;
    bool preserveOpenState = false;
    Breakpoint breakpoint = Breakpoint.Lg;
    DrawerClipMode clipMode = DrawerClipMode.Never;

    void ToggleDrawer()
    {
        open = !open;
    }
}
